h1 { 
	color:#444; 
	background-color:transparent; 
	font-size:26px; 
	font-weight:bold; 
	margin:24px 0 2px 0; 
	padding:5px 0 6px 0; 
}

body { 
	background-color:#fff; 
	margin:40px; 
	font-family:Lucida Grande,Verdana,Sans-serif; 
	font-size:14px; 
	color:#4F5155; 
}

textarea { 
	vertical-align: top; 
}

.header_border {
	border-bottom:1px solid #D0D0D0; 
	width=100%;
	overflow: hidden;
	position: relative;
}

.main_header {
	float: left;
	color:#444; 
	background-color:transparent; 
	font-size:26px; 
	font-weight:bold; 
	margin:5px 0 2px 0; 
	padding:5px 0 6px 0; 
	/* border: 1px solid green; */
}

.breadcrumbs{
	overflow: hidden;
	font-size: 15px;
	font-weight:normal; 
	font-style:italic;
    position: relative;
	padding-left: 25px;
	/* border: 1px solid red; */
}

.user_info{
	overflow: hidden;
    position: relative;
	padding-top: 27px;
	font-size: 10px;
	font-weight:normal; 
	float: right;
	/* border: 1px solid #cc0; */
}

.fieldset-auto-width {
    display: inline-block;
}

.copyleft_info{
	font-size: 10px;
	text-align: center;
}

.nav_reveal {
    float: left;
	width: 170px;
	padding:10px;
	color:#000000;
	background-color:#98bf21;
	padding:10px;
	margin: 10px 0px 10px 0px;
}

#content_main{
	width: 70%;
    float: left;
	padding:10px;
	margin: 0px 10px 10px 10px;
	/*border: 1px solid #cc0;*/
}

#footer_main{
	border-top:1px solid #D0D0D0; 
	clear:both;
	position: relative;
}